# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Configuraciones de PyCharm
.idea/
*.iml

# Archivos de sistema de macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Archivos de logs y temporales
*.log
*.tmp
*.swp
*.png
report*.html
/assets
